<div class="row mt-5 justify-content-end">
  <button class="btn btn-primary" (click)="createPost()">Create Post</button>
</div>

<div class="mt-5">
  <div class="col-md-10 offset-md-1">
    <div class="card mb-2" *ngFor="let post of posts$ | async">
      <div class="card-body">
        <h1>{{ post.title }}</h1>
        <em
          >posted by <strong>{{ post.created_by }}</strong> on
          <strong>{{ post.created_at }}</strong>
        </em>
        <p>{{ post.desc }}</p>
        <div class="text-right">
          <button
            (click)="toggler(post.key, post)"
            [ngClass]="post.isAproved ? 'btn btn-warning' : 'btn btn-success'"
          >
            {{ post.isAproved ? "Reject" : "Aprove" }}
          </button>
          <button class="btn btn-danger ml-3" (click)="onDeletePost(post.key)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
