<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header bg-dark text-light text-center">
        <h5>Sign Up</h5>
      </div>
      <div class="card-body">
        <form #signupForm="ngForm">
          <div class="form-group">
            <label for="">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              ngModel
              [(ngModel)]="info.name"
              required
              minlength="3"
              #fname="ngModel"
              [ngClass]="{ 'is-invalid': fname.errors && fname.touched }"
            />
            <div class="invalid-feedback">Name is Required</div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              ngModel
              [(ngModel)]="info.email"
              required
              minlength="6"
              #femail="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [ngClass]="{ 'is-invalid': femail.errors && femail.touched }"
            />
            <!-- <div class="invalid-feedback">Email is Required</div> -->
            <div class="text-danger" *ngIf="femail.touched">
              <small *ngIf="femail.errors?.required">Email is a required</small>
              <small *ngIf="femail.errors?.pattern"
                >This is not a valid Email</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <div class="form-group">
              <input
                type="password"
                [(ngModel)]="info.password"
                name="password"
                class="form-control"
                required
                #password="ngModel"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                [ngClass]="{
                  'is-invalid': password.errors && password.touched
                }"
              />
              <div *ngIf="password.touched" class="text-danger">
                <small *ngIf="password.errors?.required">
                  Password is required.
                </small>
                <small *ngIf="password.errors?.pattern">
                  Must contain at least one number and one uppercase and
                  lowercase letter, and at least 8 or more characters.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <div class="form-group">
              <input
                type="password"
                [(ngModel)]="info.confirmpassword"
                name="confirmpassword"
                class="form-control"
                required
                #confirmpassword="ngModel"
                pattern="{{ password.value }}"
                [ngClass]="{
                  'is-invalid':
                    confirmpassword.errors && confirmpassword.touched
                }"
              />
              <div *ngIf="confirmpassword.touched" class="text-danger">
                <small *ngIf="confirmpassword.errors?.required">
                  Confirm password is required.
                </small>
                <small *ngIf="confirmpassword.errors?.pattern">
                  Password & Confirm Password does not match.
                </small>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!signupForm.valid"
            (click)="onSubmit()"
          >
            SignUp
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
