<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header bg-dark text-light text-center">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form #signinForm="ngForm">
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              required
              minlength="6"
              #femail="ngModel"
              [ngClass]="{ 'is-invalid': femail.errors && femail.touched }"
            />
            <div class="invalid-feedback">Email is required</div>
            <small class="text-danger" *ngIf="emailErr"
              >Email does not exists</small
            >
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="password"
              required
              minlength="6"
              #fpass="ngModel"
              [ngClass]="{ 'is-invalid': fpass.errors && fpass.touched }"
            />
            <div class="invalid-feedback">password is required</div>
            <small class="text-danger" *ngIf="passError"
              >Incorrect Password</small
            >
          </div>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onSubmit()"
            [disabled]="!signinForm.valid"
          >
            SignIn
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
