<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header bg-dark text-light text-center">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            [ngClass]="errors.email ? 'is-invalid' : ''"
          />
          <div class="invalid-feedback">{{ errors.email }}</div>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            [ngClass]="errors.password ? 'is-invalid' : ''"
          />
          <div class="invalid-feedback">{{ errors.password }}</div>
        </div>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">
          SignIn
        </button>
      </div>
    </div>
  </div>
</div>
